@page "{placeId}"
@model FoodResort.Pages.Places.DetailModel
@{
}


<h1>@ViewData["title"]</h1>

@if (!string.IsNullOrWhiteSpace(ViewData["imgUrl"].ToString()))
{
    <img src="@ViewData["imgUrl"]" class="img-fluid" />
}

<p>@ViewData["description"]</p>

<hr />

<h3>Reviews</h3>


@if (User.Identity.IsAuthenticated)
{
    <form asp-page-handler="AddReview" method="post">


        <input type="text" name="description" placeholder="Your Review..." />
        <br />
        <input type="number" name="rating" max="5" min="1" placeholder="Your score (max 5)" />
        <br />
        <input type="hidden" name="placeid" value="@ViewContext.RouteData.Values["placeId"]"/>
        <button type="submit">Add Review</button>
    
    </form>

}

<!-- List of all the reviews -->
